<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="<%=asset_path("bg.jpg")%>" >
        </div>
      </div>
    </div>
  </div>
</header>
