<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Explorocal" %></title>
    <link rel="shortcut icon" href="<%=asset_path("logo.jpg")%>" >

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/alerts" %>

  <div id="main-content">
    <%= yield %>
  </div>

  <%= render "layouts/footer" %>

  </body>
</html>
